<div class="container">
<aside class="sidebar">
        <h1>Bloc Rooms</h1>
        <p>Please click this button to add new rooms</p>
        <button ng-click="rooms.open()">Click Here</button>
        <h2> Current rooms</h2>
        <nav>
                <ul>
                        <li ng-repeat="roomSingle in rooms.roomList" ng-click="rooms.storeRooms(roomSingle)">{{roomSingle.$value}}</li>
                </ul>
        </nav>
</aside>
<main class="main">
        <h1>{{ rooms.currentRoom.$value }}</h1>
        <p ng-repeat="message in rooms.currentMessages">{{ message.username }}: {{ message.content }}</p>
        <form ng-submit="rooms.sendMessage()">
                <input type="text" ng-model="rooms.newMessage" />
                <input type="submit" ng-disabled="!rooms.currentRoom" value="Save Message" />
        </form>
        <form>
                <input type="text" />
                <input type="submit" value="Find User" />
        </form>
</main>
</div>
